<div class="foundry_column foundry_column_one col-xs-12 col-md-6   col-lg-3  ">
    <div class="inner_column_content">
        <div class="stacks_in_249-foundry-card card  ">
            <img src="files/card_image_topper-249.png" class="img-fluid card-img-top" alt="Image">

            <div class="card-block">
                <div class="text-xs-left">
                    <h3 class="stacks_in_255_hdr theme_style  ">Ma'ayan Home Page</h3>
                </div>
                <p class="stacks_in_250 card-text   text-xs-left ">
                    Welcome to the Ma'ayan demo page. Ma'ayan is being developed as the premier visual companion for the learning, teaching and development of TANACH. Click the link below to add your comments - we value your input!
                </p>
                <a href="http://sefaria.org" rel="" onclick="" target="" id="" class="card-link  ">Sefaria</a>
            </div>
        </div> <!-- two card headers-->
        <div id="stacks_out_339" class="stacks_out">
            <div id="stacks_in_339" class="stacks_in com_elixir_stacks_foundryJumbotron_stack">
                <div class="nav_pairing">
                    <div class="jumbotron theme_style jumbotron-fluid">
                        <div class="container-fluid jumbotron_container_padding">
                            <h1 class="jumbotron_title  display-3 text-xs-left">Begin Your Search Here...</h1>
                            <p class="jumbotron_sub_title lead text-xs-left">Select the text for your search and select the items you'd like to download.</p>
                            <div id="stacks_out_343" class="stacks_out">
                                <div id="stacks_in_343" class="stacks_in com_elixir_stacks_foundryParagraph_stack">
                                    <p class="foundry-paragraph-override theme_style  theme_style  text-xs-left ">
                                        Input your search text here (i.e. <span style="font:12px 'Lucida Grande', LucidaGrande, Verdana, sans-serif; ">חרב)</span>
                                    </p>
                                </div>
                            </div><!-- search instruction paragraph-->
                            <div id="stacks_out_345" class="stacks_out">
                                <div id="stacks_in_345" class="stacks_in com_elixir_stacks_foundryForm_stack">
                                    <a name="stacks_in_345"></a>
                                    <form class="form-horizontal" role="form" method="post" action="#stacks_in_345">
                                        <div class="form-group ">
                                            <label for="name" class="col-sm-2 form-control-label">Search Text</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="name" name="name" placeholder="Search Text" value="">
                                                <p class="text-danger"> </p>
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label for="email" class="col-sm-2 form-control-label">Email</label>
                                            <div class="col-sm-10">
                                                <input type="email" class="form-control" id="email" name="email" placeholder="example@me.com" value="">
                                                <p class="text-danger"> </p>
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label for="email" class="col-sm-2 form-control-label">Subject</label>
                                            <div class="col-sm-10">
                                                <input type="subject" class="form-control" id="subject" name="subject" placeholder="Your message subject line." value="">
                                                <p class="text-danger"> </p>
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label for="message" class="col-sm-2 form-control-label">Message</label>
                                            <div class="col-sm-10">
                                                <textarea class="form-control form-msg-field" rows="4" name="message"></textarea>
                                                <p class="text-danger"> </p>
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label for="human" class="col-sm-2 form-control-label">2 + 3 = ?</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="human" name="human" placeholder="Your Answer">
                                                <p class="text-danger"> </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10 col-sm-offset-2 text-xs-left ">
                                                <input id="submit" name="submit" type="submit" value="Send" class="btn  btn-primary btn-md">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10 col-sm-offset-2" style="margin-top: 18px;">
                                            </div>
                                        </div>
                                    </form> <!-- the input form-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>