/*! CSS Used from: http://www.foundationstone.org/rw_common/themes/landerpro/consolidated-32.css?rwcache=627927597 ; media=all */
@media all {
    @media only screen {
        #extraContainer1box,
        #extraContainer2box {
            margin: 0;
            padding: 0;
            min-width: 100%;
            position: relative;
            z-index: 1;
            width: 100%;
        }
        #extraContainer1 {
            position: relative;
            margin-right: auto;
            margin-left: auto;
            padding: 35px 4%;
        }
        #extraContainer2 {
            position: relative;
            padding: 35px 4%;
            margin: 0;
            margin-right: auto;
            margin-left: auto;
            float: left;
            clear: left;
            width: 92%;
        }
        #extraContainer3 {
            padding: 0;
            margin: 0;
        }
        #extraContainer4 {
            padding: 0 4% 30px;
            margin: 0 auto;
            display: block;
            z-index: 5;
            position: relative;
        }
        #extraContainer4 {
            -webkit-animation: extraContainer_fade 0.4s ease-in !important;
            animation: extraContainer_fade 0.4s ease-in !important;
        }
        #footer {
            font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
        }
        .css_filter_off {
            transition: All 0s linear;
            -webkit-transition: All 0s linear;
            -moz-transition: All 0s linear;
        }
        [class^="fa fa-"],
        [class*="fa fa-"] {
            padding: 0px !important;
        }
        body,
        html {
            width: 100%;
            height: 100%;
            min-height: 100%;
            min-width: 100%;
            font-variant: normal;
            margin: 0 !important;
            padding: 0 !important;
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
            -webkit-text-size-adjust: none;
            font-size: 100%;
            font-weight: normal;
            font-style: normal;
        }
        body {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            -webkit-text-size-adjust: none;
            -moz-text-size-adjust: none;
            text-size-adjust: none;
        }
        #container,
        #extraContainer1,
        #extraContainer2,
        #extraContainer3,
        #extraContainer4 {
            font-style: normal;
            line-height: 1.6;
            font: 16px "Lucida Grande", Lucida, Verdana, sans-serif;
        }
        a:link,
        a:visited {
            text-decoration: none;
            transition-property: color;
            transition-duration: 250ms;
            -webkit-transition-property: color;
            -webkit-transition-duration: 250ms;
            -moz-transition-property: color;
            -moz-transition-duration: 250ms;
        }
        img {
            border: none;
        }
        #global_width {
            position: relative;
            top: -50px;
            margin-right: auto;
            margin-left: auto;
            overflow: auto;
            box-shadow: 0px 5px 12px 0px rgba(0%, 0%, 0%, 0.115);
            -webkit-box-shadow: 0px 5px 12px 0px rgba(0%, 0%, 0%, 0.115);
            -moz-box-shadow: 0px 5px 12px 0px rgba(0%, 0%, 0%, 0.115);
            padding: 0;
        }
        #contentContainer {
            margin-top: 0;
        }
        #pageHeader {
            position: absolute;
            margin-right: auto;
            margin-left: auto;
            min-height: 400px;
            top: 0;
            left: 0;
            right: 0;
        }
        #logo {
            font-size: 0;
            line-height: 0;
        }
        #fade_titles {
            transition: All 0.17s linear;
            -webkit-transition: All 0.17s linear;
            -moz-transition: All 0.17s linear;
        }
        #pageHeader h1 {
            text-align: center;
            position: relative;
            display: block;
            vertical-align: middle;
            margin-right: auto;
            margin-left: auto;
            transition: All 0.07s linear;
            -webkit-transition: All 0.07s linear;
            -moz-transition: All 0.07s linear;
            margin-top: 130px;
            font-weight: normal;
            font-style: normal;
            font-size: 70px;
            line-height: 56px;
        }
        #pageHeader h2 {
            text-align: center;
            position: relative;
            font-weight: normal;
            font-style: normal;
            font-size: 23px;
            line-height: 21px;
            padding-top: 13px;
        }
        #contentContainer #content {
            float: left;
            position: relative;
            clear: none;
            height: auto;
            margin: 0;
            width: 62%;
            padding: 35px 4%;
        }
        #sidebarContainer {
            margin: 0;
            float: right;
            display: block;
            position: relative;
            top: 0;
            width: 30%;
            padding: 0;
            font-size: 14px;
            line-height: 24px;
            box-shadow: 3px 2px 3px 0px rgba(0, 0, 0, 0.08) inset;
            -webkit-box-shadow: 3px 2px 3px 0px rgba(0, 0, 0, 0.08) inset;
            -moz-box-shadow: 3px 2px 3px 0px rgba(0, 0, 0, 0.08) inset;
            overflow: auto;
        }
        #sidebarBackground {
            position: absolute;
            top: 0;
            width: 30%;
            height: 100%;
            right: 0;
            margin: 0;
            padding: 0;
            box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.08) inset;
            -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.08) inset;
            -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.08) inset;
        }
        #sidebarContainer #sidebar {
            width: 250px;
            margin-right: auto;
            margin-left: auto;
            padding: 0 10px 30px;
        }
        #sidebarContainer .sideHeader {
            text-align: center;
            font-size: 27px;
            line-height: 27px;
            padding: 30px 5px 15px;
        }
        #footer {
            width: 100%;
            padding-top: 18px;
            padding-bottom: 5px;
            top: -50px;
            position: relative;
        }
        #footer p {
            line-height: 15px;
            text-align: center;
            margin-top: 0;
            padding: 5px;
            font-size: 13px;
        }
        #footer a:hover,
        #footer a:active {
            text-decoration: underline;
        }
        #breadcrumbcontainer_box {
            position: absolute;
            display: block;
            width: 100%;
            bottom: 0;
            min-height: 100px;
            box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
        }
        #opacity_background {
            width: 100%;
            height: 100%;
            position: absolute;
            opacity: 0.8;
        }
        #breadcrumbcontainer {
            text-align: center;
            position: relative;
            display: block;
            width: 100%;
        }
        #breadcrumbcontainer ul {
            margin: 0;
            padding: 13px 5px 62px;
        }
        #breadcrumbcontainer li {
            display: inline;
            margin: 0;
            padding: 5px 0;
            position: relative;
        }
        #breadcrumbcontainer li:before {
            font-family: FontAwesome;
            left: 0;
            padding-right: 0;
            content: "\f054";
            position: absolute;
            top: 4px;
            opacity: 0.4;
        }
        #breadcrumbcontainer li:first-child:before {
            display: none;
        }
        #breadcrumbcontainer a {
            text-decoration: none;
            transition: All 0.15s linear;
            -webkit-transition: All 0.15s linear;
            -moz-transition: All 0.15s linear;
            position: relative;
            font-size: 17px;
            line-height: 18px;
            padding-left: 18px;
        }
        .footer_breadcrumbcontainer {
            text-align: center;
            position: relative;
            display: none;
            width: 98%;
            margin-left: 1%;
            padding-bottom: 4px;
        }
        .footer_breadcrumbcontainer ul {
            margin: 0;
            padding: 5px;
        }
        .footer_breadcrumbcontainer li {
            display: inline;
            margin: 0;
            padding: 5px 0;
            position: relative;
        }
        .footer_breadcrumbcontainer li:before {
            font-family: FontAwesome;
            left: 0;
            padding-right: 0;
            content: "\f054";
            position: absolute;
            top: 4px;
            opacity: 0.4;
        }
        .footer_breadcrumbcontainer li:first-child:before {
            display: none;
        }
        .footer_breadcrumbcontainer a {
            text-decoration: none;
            transition: All 0.15s linear;
            -webkit-transition: All 0.15s linear;
            -moz-transition: All 0.15s linear;
            position: relative;
            font-size: 15px;
            line-height: 19px;
            padding-left: 18px;
        }
        #accordion {
            margin-left: auto;
            position: absolute;
            display: none;
            top: 0;
            right: 0;
            left: 0;
            padding: 0;
            margin-right: auto;
            width: 100%;
            z-index: 102;
            overflow: auto;
            box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
        }
        #drop {
            padding: 0;
            display: block;
            margin: 0;
            position: absolute;
            width: 45px;
            z-index: 103;
            height: 45px;
            cursor: pointer;
            overflow: visible;
            right: 15px;
            top: 15px;
            transition: All 0.24s linear;
            -webkit-transition: All 0.24s linear;
            -moz-transition: All 0.24s linear;
            -webkit-transform: translateZ(0);
        }
        #drop:after {
            display: none;
        }
        #drop:hover [class^="fa fa-"] {
            font-size: 48px;
            line-height: 51px;
        }
        #drop [class^="fa fa-"] {
            font-size: 50px;
            line-height: 50px;
            text-align: center;
            transition: All 0.1s ease-in;
            -webkit-transition: All 0.06s ease-in;
            -moz-transition: All 0.06s ease-in;
        }
        #drop:after {
            content: "MENU";
        }
        #drop:after {
            position: absolute;
            top: 0;
            width: auto;
            cursor: default;
            display: block;
            cursor: default;
            font: 13px/10px "PerspectiveSansRegular", Lucida, Verdana, sans-serif;
            text-align: right;
            overflow: visible;
            white-space: nowrap;
            transition: all 0.1s linear;
            -webkit-transition: All 0.1s linear;
            -moz-transition: All 0.1s linear;
            right: 0;
            padding: 18px 53px 2px 0;
        }
        #drop:after {
            -webkit-animation: text_button_text 0.3s ease-in !important;
            animation: text_button_text 0.3s ease-in !important;
        }
        #navcontainer_box {
            margin: 0 auto;
            padding: 0;
            position: relative;
            top: 0;
            right: 0;
            width: 100%;
            left: 0;
            z-index: 2;
        }
        #navcontainer_opacity {
            width: 100%;
            height: 100%;
            position: absolute;
            opacity: 0.71;
        }
        #navcontainer {
            position: relative;
            right: 0;
            left: 0;
            top: 0;
            padding: 53px 10px 30px;
            margin-right: auto;
            margin-left: auto;
        }
        #navcontainer ul a {
            line-height: 20px;
            font-size: 16px;
            z-index: 4;
            text-align: left;
            padding: 0;
            background-color: transparent !important;
        }
        #navcontainer ul ul a {
            font-size: 13px;
            line-height: 21px;
            z-index: 5;
        }
        #navcontainer ul ul a:before {
            top: 0;
            content: "\f105";
            position: relative;
            padding: 0;
            margin: 0;
            font: 10px FontAwesome;
            left: -5px;
        }
        #navcontainer ul li {
            display: inline-block;
            position: relative;
            top: 0;
            margin: 6px 5px;
            min-width: 90px;
            max-width: 220px;
            width: auto;
            text-align: left;
            padding: 10px;
            border-radius: 2px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-style: solid;
            border-width: 1px;
            border-top-width: 4px;
            border-top-style: solid;
        }
        #navcontainer ul ul li {
            display: inline-block;
            float: left;
            clear: both;
            padding: 0;
            margin: 2px 0;
            box-shadow: none;
            border-width: 0;
            background-color: transparent !important;
        }
        #navcontainer ul {
            margin: 0;
            padding: 0;
            position: relative;
        }
        #navcontainer ul ul {
            padding-top: 5px;
            margin-top: 5px;
        }
        #navcontainer ul ul ul {
            margin-top: 0;
            padding-left: 4px;
        }
        #navcontainer ul {
            -webkit-animation: navcontainer 0.3s ease-in !important;
            -moz-animation: navcontainer 0.3s ease-in !important;
            animation: navcontainer 0.3s ease-in !important;
        }
        h1,
        h2 {
            margin: 0;
            padding: 0;
            line-height: 1.2;
            font-style: normal;
            font-weight: normal;
        }
        h1 {
            font-size: 2.6rem;
        }
        h2 {
            font-size: 2.4rem;
        }
        .settings {
            position: relative;
            display: none;
        }
        #banner_fade_in {
            top: 0px !important;
        }
        #photoalbum_slideshow {
            top: 0px !important;
        }
        @media only screen and (max-width: 768px) {
            #pageHeader h1 {
                font-size: 50px;
                line-height: 40px;
            }
            #navcontainer ul li {
                min-width: 44%;
                max-width: 44%;
                width: 44%;
            }
            #navcontainer ul ul li {
                min-width: 180px;
            }
            #breadcrumbcontainer_box {
                min-height: 88px;
            }
            #breadcrumbcontainer a {
                font-size: 11px;
                line-height: 16px;
            }
            #breadcrumbcontainer ul {
                padding-top: 0;
            }
            #breadcrumbcontainer li {
                top: 6px;
            }
        }
        @media only screen and (max-width: 601px) {
            #navcontainer ul {
                text-align: center;
            }
            #navcontainer ul li {
                min-width: 91%;
                max-width: 91%;
                width: 91%;
            }
            #navcontainer ul ul li {
                min-width: 140px;
            }
        }
        @media only screen and (max-width: 480px) {
            #pageHeader h1 {
                margin-top: 75px;
                font-size: 30px;
                line-height: 25px;
            }
            #pageHeader h2 {
                font-size: 18px;
                line-height: 17px;
            }
            #drop:after {
                line-height: 10px;
                font-size: 10px;
                padding-right: 48px;
            }
        }
        @media only screen and (max-width: 360px) {
            #navcontainer ul li {
                min-width: 89%;
                max-width: 89%;
                width: 89%;
            }
        }
        #headerbox {
            overflow: hidden;
            width: 100%;
            height: 400px;
            position: relative;
            transition: All 0.17s linear;
            -webkit-transition: All 0.17s linear;
            -moz-transition: All 0.17s linear;
        }
        #rw-banner-image {
            width: 100%;
            height: 100%;
            top: 0;
            text-align: center;
            overflow: auto;
            background: url("http://www.foundationstone.org/rw_common/images/1E6481DD-1E9A-40C3-BF30-9EC2C4671700_1_105_c.jpeg") no-repeat center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            position: absolute;
        }
        #banner_grid {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
        }
        #extraContainer4,
        #global_width,
        #navcontainer {
            max-width: 1000px;
        }
        #contentContainer,
        #sidebarContainer {
            font-size: 16px;
        }
        #extraContainer1,
        #extraContainer2,
        #extraContainer3,
        #extraContainer4 {
            font-size: 16px;
        }
        #extraContainer1,
        #extraContainer2 {
            background-color: rgba(47, 59, 66, 1);
        }
        #extraContainer1,
        #extraContainer2 {
            color: rgba(219, 219, 219, 1);
        }
        #extraContainer4 {
            color: rgba(226, 226, 226, 1);
        }
        #drop:after {
            color: rgba(255, 255, 255, 1);
        }
        #drop [class^="fa fa-"],
        #drop:after {
            color: rgba(255, 255, 255, 1);
        }
        #drop:hover [class^="fa fa-"] {
            color: rgba(255, 255, 255, 1);
        }
        body {
            background-color: rgba(30, 30, 31, 1);
        }
        #navcontainer_opacity {
            background-color: rgba(56, 56, 56, 1);
        }
        #navcontainer ul li {
            background-color: rgba(37, 37, 37, 1);
            border-color: rgba(30, 30, 30, 1);
        }
        #navcontainer a:link,
        #navcontainer a:visited {
            color: rgba(255, 255, 255, 1);
        }
        #navcontainer a:hover,
        #navcontainer #current,
        #navcontainer ul #current,
        #navcontainer a:active,
        #navcontainer .currentAncestor,
        #navcontainer ul .currentAncestor {
            color: rgba(197, 234, 235, 1);
        }
        #global_width {
            background-color: rgba(56, 56, 56, 1);
        }
        #pageHeader h1,
        #pageHeader h2 {
            color: rgba(255, 255, 255, 1);
        }
        #contentContainer {
            color: rgba(226, 226, 226, 1);
        }
        a:link,
        a:visited {
            color: rgba(198, 234, 235, 1);
        }
        a:hover,
        a:active {
            color: rgba(255, 255, 255, 1);
        }
        #breadcrumbcontainer li {
            color: rgba(39, 39, 39, 1);
        }
        #breadcrumbcontainer li:before {
            color: rgba(198, 234, 235, 1);
        }
        #opacity_background {
            background-color: rgba(56, 56, 56, 1);
        }
        #footer p,
        #footer a {
            color: rgba(71, 70, 70, 1);
        }
        #footer a:link,
        #footer a:visited,
        .footer_breadcrumbcontainer li:before {
            color: rgba(83, 82, 82, 1);
        }
        #sidebarContainer {
            color: rgba(219, 219, 219, 1);
        }
        #sidebarContainer .sideHeader,
        #sidebarContainer #sidebar,
        #sidebarContainer {
            color: rgba(219, 219, 219, 1);
        }
        #sidebarContainer,
        #sidebarBackground {
            background-color: rgba(40, 39, 40, 1);
        }
        #banner_fade_in {
            top: 1px !important;
        }
        #headerbox {
            height: 400px;
        }
        #pageHeader {
            padding-top: 0px;
        }
        @media only screen and (max-width: 480px) {
            #headerbox {
                height: 280px;
            }
            #pageHeader {
                padding-top: 0px;
            }
        }
        @media only screen and (min-width: 768px) {
            #banner_parallax_on_off {
                top: 1px;
            }
        }
        @media only screen and (max-width: 768px) {
            #banner_parallax_on_off {
                top: 0px;
            }
        }
        #extraContainer1 {
            padding: 0 !important;
        }
        #extraContainer2 {
            padding: 0 !important;
            width: 100% !important;
        }
        #extraContainer4 {
            padding: 0 !important;
        }
        @media all and (max-width: 5200px) {
            #sidebarContainer {
                width: 100% !important;
                float: none !important;
            }
            #contentContainer #content {
                width: 90% !important;
                float: none !important;
                padding-left: 5%;
                padding-right: 5%;
            }
            #sidebarContainer #sidebar {
                width: auto;
                padding-right: 25px;
                padding-left: 25px;
                padding-bottom: 25px;
            }
            #sidebarBackground {
                display: none;
            }
            #sidebarContainer #sidebar {
                width: auto;
                padding-bottom: 25px;
                padding-right: 5%;
                padding-left: 5%;
            }
        }
        @media all and (max-width: 1200px) {
            #contentContainer #content {
                padding-top: 5% !important;
                padding-left: 5% !important;
            }
            #extraContainer1,
            #extraContainer2 {
                padding-right: 5%;
                padding-left: 5%;
            }
            #extraContainer2 {
                width: 90%;
            }
        }
        #pageHeader h1,
        #pageHeader h2,
        h1,
        h2,
        #sidebarContainer .sideHeader,
        #breadcrumbcontainer a,
        #navcontainer ul a {
            font-family: "ralewaylight", sans-serif !important;
        }
        #up {
            z-index: 100;
            position: fixed;
            overflow: visible;
            display: block;
            height: 44px;
            width: 44px;
            margin: 0;
            bottom: 15px;
            padding: 0;
            right: 15px;
        }
        #up [class^="fa fa-"] {
            font-size: 46px;
            -webkit-font-smoothing: none;
            -webkit-font-smoothing: subpixel-antialiased;
            -webkit-font-smoothing: antialiased;
            margin-right: auto;
            margin-left: auto;
            position: absolute;
            right: 0;
            top: 0;
            line-height: 39px;
            text-align: center;
            color: #feffff;
            background-color: rgba(86, 86, 86, 0.4456636);
            width: 100%;
            height: 100%;
            padding: 0;
        }
        #navcontainer,
        #breadcrumbcontainer {
            text-transform: uppercase;
        }
        #pageHeader h1,
        #pageHeader h2,
        #drop [class^="fa fa-"],
        #drop:after {
            text-shadow: rgba(0, 0, 0, 0.3161649) 0 1px 1px;
        }
    }
    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .fa-angle-up:before {
        content: "\f106";
    }
    .fa-plus-square-o:before {
        content: "\f196";
    }
    #extraContainer4,
    #global_width,
    #navcontainer {
        max-width: 1000px;
    }
    #contentContainer,
    #sidebarContainer {
        font-size: 16px;
    }
    #extraContainer1,
    #extraContainer2,
    #extraContainer3,
    #extraContainer4 {
        font-size: 16px;
    }
    #extraContainer1,
    #extraContainer2 {
        background-color: rgba(47, 59, 66, 1);
    }
    #extraContainer1,
    #extraContainer2 {
        color: rgba(219, 219, 219, 1);
    }
    #extraContainer4 {
        color: rgba(226, 226, 226, 1);
    }
    #drop:after {
        color: rgba(255, 255, 255, 1);
    }
    #drop [class^="fa fa-"],
    #drop:after {
        color: rgba(255, 255, 255, 1);
    }
    #drop:hover [class^="fa fa-"] {
        color: rgba(255, 255, 255, 1);
    }
    body {
        background-color: rgba(30, 30, 31, 1);
    }
    #navcontainer_opacity {
        background-color: rgba(56, 56, 56, 1);
    }
    #navcontainer ul li {
        background-color: rgba(37, 37, 37, 1);
        border-color: rgba(30, 30, 30, 1);
    }
    #navcontainer a:link,
    #navcontainer a:visited {
        color: rgba(255, 255, 255, 1);
    }
    #navcontainer a:hover,
    #navcontainer #current,
    #navcontainer ul #current,
    #navcontainer a:active,
    #navcontainer .currentAncestor,
    #navcontainer ul .currentAncestor {
        color: rgba(197, 234, 235, 1);
    }
    #global_width {
        background-color: rgba(56, 56, 56, 1);
    }
    #pageHeader h1,
    #pageHeader h2 {
        color: rgba(255, 255, 255, 1);
    }
    #contentContainer {
        color: rgba(226, 226, 226, 1);
    }
    a:link,
    a:visited {
        color: rgba(198, 234, 235, 1);
    }
    a:hover,
    a:active {
        color: rgba(255, 255, 255, 1);
    }
    #breadcrumbcontainer li {
        color: rgba(39, 39, 39, 1);
    }
    #breadcrumbcontainer li:before {
        color: rgba(198, 234, 235, 1);
    }
    #opacity_background {
        background-color: rgba(56, 56, 56, 1);
    }
    #footer p,
    #footer a {
        color: rgba(71, 70, 70, 1);
    }
    #footer a:link,
    #footer a:visited,
    .footer_breadcrumbcontainer li:before {
        color: rgba(83, 82, 82, 1);
    }
    #sidebarContainer {
        color: rgba(219, 219, 219, 1);
    }
    #sidebarContainer .sideHeader,
    #sidebarContainer #sidebar,
    #sidebarContainer {
        color: rgba(219, 219, 219, 1);
    }
    #sidebarContainer,
    #sidebarBackground {
        background-color: rgba(40, 39, 40, 1);
    }
    #banner_fade_in {
        top: 1px !important;
    }
    #headerbox {
        height: 400px;
    }
    #pageHeader {
        padding-top: 0px;
    }
    @media only screen and (max-width: 480px) {
        #headerbox {
            height: 280px;
        }
        #pageHeader {
            padding-top: 0px;
        }
    }
    @media only screen and (min-width: 768px) {
        #banner_parallax_on_off {
            top: 1px;
        }
    }
    @media only screen and (max-width: 768px) {
        #banner_parallax_on_off {
            top: 0px;
        }
    }
    #extraContainer1 {
        padding: 0 !important;
    }
    #extraContainer2 {
        padding: 0 !important;
        width: 100% !important;
    }
    #extraContainer4 {
        padding: 0 !important;
    }
    @media all and (max-width: 5200px) {
        #sidebarContainer {
            width: 100% !important;
            float: none !important;
        }
        #contentContainer #content {
            width: 90% !important;
            float: none !important;
            padding-left: 5%;
            padding-right: 5%;
        }
        #sidebarContainer #sidebar {
            width: auto;
            padding-right: 25px;
            padding-left: 25px;
            padding-bottom: 25px;
        }
        #sidebarBackground {
            display: none;
        }
        #sidebarContainer #sidebar {
            width: auto;
            padding-bottom: 25px;
            padding-right: 5%;
            padding-left: 5%;
        }
    }
    @media all and (max-width: 1200px) {
        #contentContainer #content {
            padding-top: 5% !important;
            padding-left: 5% !important;
        }
        #extraContainer1,
        #extraContainer2 {
            padding-right: 5%;
            padding-left: 5%;
        }
        #extraContainer2 {
            width: 90%;
        }
    }
    #pageHeader h1,
    #pageHeader h2,
    h1,
    h2,
    #sidebarContainer .sideHeader,
    #breadcrumbcontainer a,
    #navcontainer ul a {
        font-family: "ralewaylight", sans-serif !important;
    }
    #up {
        z-index: 100;
        position: fixed;
        overflow: visible;
        display: block;
        height: 44px;
        width: 44px;
        margin: 0;
        bottom: 15px;
        padding: 0;
        right: 15px;
    }
    #up [class^="fa fa-"] {
        font-size: 46px;
        -webkit-font-smoothing: none;
        -webkit-font-smoothing: subpixel-antialiased;
        -webkit-font-smoothing: antialiased;
        margin-right: auto;
        margin-left: auto;
        position: absolute;
        right: 0;
        top: 0;
        line-height: 39px;
        text-align: center;
        color: #feffff;
        background-color: rgba(86, 86, 86, 0.4456636);
        width: 100%;
        height: 100%;
        padding: 0;
    }
    #navcontainer,
    #breadcrumbcontainer {
        text-transform: uppercase;
    }
    #pageHeader h1,
    #pageHeader h2,
    #drop [class^="fa fa-"],
    #drop:after {
        text-shadow: rgba(0, 0, 0, 0.3161649) 0 1px 1px;
    }
}
/*! CSS Used from: http://www.foundationstone.org/rw_common/plugins/stacks/stacks.css?rwcache=627927597 ; media=all */
@media all {
    .stacks_out {
        position: relative;
        display: block;
        margin: 0;
        border: 0;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
    }
    .stacks_in {
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
        border: 0;
        overflow: hidden;
    }
    .stacks_in > p {
        margin-top: 0;
    }
    .stacks_top {
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
        border: 0;
        overflow: hidden;
    }
    .s3_row,
    .s3_column {
        -webkit-box-sizing: border-box !important;
        -moz-box-sizing: border-box !important;
        box-sizing: border-box !important;
    }
    .s3_row {
        width: auto;
    }
    .s3_column {
        float: left;
    }
    .s3_column_right {
        float: right;
    }
}
/*! CSS Used from: http://www.foundationstone.org/Maayan/Sample/files/stacks_page_page32.css?rwcache=627927597 ; media=all */
@media all {
    #stacks_in_2 > .s3_row {
        margin: 0 -10px;
    }
    #stacks_in_2 > .s3_row > .s3_column_left {
        width: 33.33%;
    }
    #stacks_in_2 > .s3_row > .s3_column_center {
        width: 33.339996%;
    }
    #stacks_in_2 > .s3_row > .s3_column_right {
        width: 33.33%;
    }
    #stacks_in_2 > .s3_row > .s3_column {
        padding: 0 10px;
    }
    @media only screen and (max-width: 400px) {
        #stacks_in_2 > .s3_row {
            margin: -10px 0;
        }
        #stacks_in_2 > .s3_row > .s3_column {
            padding: 10px 0;
            width: 100%;
        }
    }
    #stacks_in_6 > .s3_row {
        margin: 0 -10px;
    }
    #stacks_in_6 > .s3_row > .s3_column_left {
        width: 33.33%;
    }
    #stacks_in_6 > .s3_row > .s3_column_center {
        width: 33.339996%;
    }
    #stacks_in_6 > .s3_row > .s3_column_right {
        width: 33.33%;
    }
    #stacks_in_6 > .s3_row > .s3_column {
        padding: 0 10px;
    }
    @media only screen and (max-width: 400px) {
        #stacks_in_6 > .s3_row {
            margin: -10px 0;
        }
        #stacks_in_6 > .s3_row > .s3_column {
            padding: 10px 0;
            width: 100%;
        }
    }
    @media all {
        #fontStackstacks_in_119 {
            font-family: "Mate SC", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 100%;
            line-height: 100%;
            letter-spacing: 0px;
            direction: ltr;
        }
        #fontStackstacks_in_119 {
            color: rgba(255, 0, 0, 1);
        }
    }
    @media all {
        #fontStackstacks_in_121 {
            font-family: "Mate SC", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 100%;
            line-height: 100%;
            letter-spacing: 0px;
            direction: ltr;
        }
        #fontStackstacks_in_121 {
            color: rgba(255, 0, 0, 1);
        }
    }
    @media all {
        #fontStackstacks_in_123 {
            font-family: "Mate SC", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 100%;
            line-height: 100%;
            letter-spacing: 0px;
            direction: ltr;
        }
        #fontStackstacks_in_123 {
            color: rgba(255, 0, 0, 1);
        }
    }
    #stacks_in_146 {
        border: solid rgba(77, 77, 77, 1);
        border-width: 4px 0px 0px 0px;
        margin: 20px 0px 0px 0px;
    }
    @media all {
        #fontStackstacks_in_64 {
            font-family: "Amatic SC", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 100%;
            line-height: 100%;
            letter-spacing: 0px;
            direction: rtl;
        }
        #fontStackstacks_in_64 {
            color: rgba(51, 51, 51, 1);
        }
    }
    #stacks_in_64 {
        margin: 5px 0px 0px 0px;
    }
    #stacks_in_130 > .s3_row {
        margin: 0 -10px;
    }
    #stacks_in_130 > .s3_row > .s3_column_left {
        width: 33.33%;
    }
    #stacks_in_130 > .s3_row > .s3_column_center {
        width: 33.339996%;
    }
    #stacks_in_130 > .s3_row > .s3_column_right {
        width: 33.33%;
    }
    #stacks_in_130 > .s3_row > .s3_column {
        padding: 0 10px;
    }
    @media only screen and (max-width: 400px) {
        #stacks_in_130 > .s3_row {
            margin: -10px 0;
        }
        #stacks_in_130 > .s3_row > .s3_column {
            padding: 10px 0;
            width: 100%;
        }
    }
    @media all {
        #fontStackstacks_in_132 {
            font-family: "Mate SC", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 100%;
            line-height: 100%;
            letter-spacing: 0px;
            direction: ltr;
        }
        #fontStackstacks_in_132 {
            color: rgba(255, 0, 0, 1);
        }
    }
    @media all {
        #fontStackstacks_in_137 {
            font-family: "Mate SC", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 100%;
            line-height: 100%;
            letter-spacing: 0px;
            direction: ltr;
        }
        #fontStackstacks_in_137 {
            color: rgba(255, 0, 0, 1);
        }
    }
    @media all {
        #fontStackstacks_in_142 {
            font-family: "Mate SC", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 100%;
            line-height: 100%;
            letter-spacing: 0px;
            direction: ltr;
        }
        #fontStackstacks_in_142 {
            color: rgba(255, 0, 0, 1);
        }
    }
    #stacks_in_62 {
        margin: 25px 0px 10px 0px;
    }
    @media all {
        #fontStackstacks_in_68 {
            font-family: "Varela Round", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 100%;
            line-height: 100%;
            letter-spacing: 0px;
            direction: rtl;
        }
        #fontStackstacks_in_68 {
            color: rgba(128, 64, 3, 1);
        }
    }
    #stacks_in_68 {
        background-color: rgba(204, 204, 204, 1);
        border: solid rgba(251, 2, 7, 1);
        border-width: 5px;
        margin: 0px 0px 20px 0px;
        padding: 20px 0px 20px 0px;
    }
    .mCSB_container {
        width: auto;
        margin-right: 30px;
        overflow: hidden;
    }
    .mCustomScrollBox > .mCSB_scrollTools {
        width: 16px;
        height: 100%;
        top: 0;
        right: 0;
    }
    .mCSB_scrollTools .mCSB_draggerContainer {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: auto;
    }
    .mCSB_scrollTools a + .mCSB_draggerContainer {
        margin: 20px 0;
    }
    .mCSB_scrollTools .mCSB_draggerRail {
        width: 2px;
        height: 100%;
        margin: 0 auto;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }
    .mCSB_scrollTools .mCSB_dragger {
        cursor: pointer;
        width: 100%;
        height: 30px;
    }
    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
        width: 4px;
        height: 100%;
        margin: 0 auto;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        text-align: center;
    }
    .mCSB_scrollTools .mCSB_buttonUp,
    .mCSB_scrollTools .mCSB_buttonDown {
        display: block;
        position: relative;
        height: 20px;
        overflow: hidden;
        margin: 0 auto;
        cursor: pointer;
    }
    .mCSB_scrollTools .mCSB_buttonDown {
        top: 100%;
        margin-top: -40px;
    }
    .mCustomScrollBox {
        -ms-touch-action: none;
    }
    .mCustomScrollBox > .mCSB_scrollTools {
        opacity: 0.75;
        filter: "alpha(opacity=75)";
        -ms-filter: "alpha(opacity=75)";
    }
    .mCustomScrollBox:hover > .mCSB_scrollTools {
        opacity: 1;
        filter: "alpha(opacity=100)";
        -ms-filter: "alpha(opacity=100)";
    }
    .mCSB_scrollTools .mCSB_draggerRail {
        background: #000;
        background: rgba(0, 0, 0, 0.4);
        filter: "alpha(opacity=40)";
        -ms-filter: "alpha(opacity=40)";
    }
    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
        background: #fff;
        background: rgba(255, 255, 255, 0.75);
        filter: "alpha(opacity=75)";
        -ms-filter: "alpha(opacity=75)";
    }
    .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
        background: rgba(255, 255, 255, 0.85);
        filter: "alpha(opacity=85)";
        -ms-filter: "alpha(opacity=85)";
    }
    .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
        background: rgba(255, 255, 255, 0.9);
        filter: "alpha(opacity=90)";
        -ms-filter: "alpha(opacity=90)";
    }
    .mCSB_scrollTools .mCSB_buttonUp,
    .mCSB_scrollTools .mCSB_buttonDown {
        background-image: url("http://www.foundationstone.org/Maayan/Sample/files/mCSB_buttons.png");
        background-repeat: no-repeat;
        opacity: 0.4;
        filter: "alpha(opacity=40)";
        -ms-filter: "alpha(opacity=40)";
    }
    .mCSB_scrollTools .mCSB_buttonUp {
        background-position: 0 0;
    }
    .mCSB_scrollTools .mCSB_buttonDown {
        background-position: 0 -20px;
    }
    .mCSB_scrollTools .mCSB_buttonUp:hover,
    .mCSB_scrollTools .mCSB_buttonDown:hover {
        opacity: 0.75;
        filter: "alpha(opacity=75)";
        -ms-filter: "alpha(opacity=75)";
    }
    .mCSB_scrollTools .mCSB_buttonUp:active,
    .mCSB_scrollTools .mCSB_buttonDown:active {
        opacity: 0.9;
        filter: "alpha(opacity=90)";
        -ms-filter: "alpha(opacity=90)";
    }
    .mCS-dark-thick > .mCSB_scrollTools .mCSB_draggerRail {
        width: 4px;
        background: #000;
        background: rgba(0, 0, 0, 0.1);
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }
    .mCS-dark-thick > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
        width: 6px;
        background: #000;
        background: rgba(0, 0, 0, 0.75);
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }
    .mCS-dark-thick > .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
        background: rgba(0, 0, 0, 0.85);
    }
    .mCS-dark-thick > .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
        background: rgba(0, 0, 0, 0.9);
    }
    .mCS-dark-thick > .mCSB_scrollTools .mCSB_buttonUp {
        background-position: -96px 0;
    }
    .mCS-dark-thick > .mCSB_scrollTools .mCSB_buttonDown {
        background-position: -96px -20px;
    }
    #stacks_in_103 img {
        max-width: 10000% !important;
    }
    .stacks_in_103am-outerwrapper {
        max-width: auto;
        position: relative;
        padding: 2px;
    }
    .stacks_in_103am-wrapper {
        float: left;
        position: relative;
        overflow: hidden;
    }
    .stacks_in_103am-wrapper img {
        position: absolute;
        outline: none;
    }
    .stacks_in_103imageoverlay {
        display: none;
        position: absolute;
        width: 100%;
        left: 0px;
        bottom: 0px;
        color: #f4f4f4;
        border-top: 1px solid #666666;
        background: #45484d;
        background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, #000000));
        background: -webkit-linear-gradient(top, #45484d 0%, #000000 100%);
        background: -o-linear-gradient(top, #45484d 0%, #000000 100%);
        background: -ms-linear-gradient(top, #45484d 0%, #000000 100%);
        background: linear-gradient(top, #45484d 0%, #000000 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
        opacity: 0.8;
        z-index: 1000001;
    }
    .stacks_in_103overlaytext {
        position: relative;
        padding: 8px 14px 8px 12px;
    }
    .stacks_in_103completeimageoverlay {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        text-align: center;
        color: #ffffff;
        background: #000000;
        opacity: 0;
        text-shadow: none !important;
        z-index: 1000001;
    }
    .stacks_in_103zoomoverlay {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        text-align: center;
        background: url(http://www.foundationstone.org/Maayan/Sample/files/montageAssets/zoom.png) no-repeat;
        background-position: center center;
        opacity: 0;
        z-index: 1000001;
    }
    #stacks_in_103 a {
        text-decoration: none !important;
        color: #ffffff !important;
    }
    #stacks_in_103 a:hover {
        text-decoration: none !important;
        color: #ffffff !important;
    }
    .stacks_in_103clearer {
        clear: both;
    }
    @media all {
        #fontStackstacks_in_91 {
            font-family: "Mate SC", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 100%;
            line-height: 100%;
            letter-spacing: 0px;
            direction: rtl;
        }
        #fontStackstacks_in_91 {
            color: rgba(128, 64, 3, 1);
        }
    }
    #stacks_in_91 {
        background-color: rgba(204, 204, 204, 1);
        border: solid rgba(251, 2, 7, 1);
        border-width: 5px;
        margin: 0px 0px 50px 0px;
        padding: 20px 0px 20px 0px;
    }
}
/*! CSS Used keyframes */
@-webkit-keyframes extraContainer_fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes extraContainer_fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes text_button_text {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes text_button_text {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes navcontainer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes navcontainer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes navcontainer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/*! CSS Used fontfaces */
@font-face {
    font-family: "FontAwesome";
    src: url("http://www.foundationstone.org/rw_common/themes/landerpro/css/webfonts/fontawesome/fontawesome-webfont.eot?v=4.7.0");
    src: url("http://www.foundationstone.org/rw_common/themes/landerpro/css/webfonts/fontawesome/fontawesome-webfont.eot#iefix&v=4.7.0") format("embedded-opentype"),
        url("http://www.foundationstone.org/rw_common/themes/landerpro/css/webfonts/fontawesome/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
        url("http://www.foundationstone.org/rw_common/themes/landerpro/css/webfonts/fontawesome/fontawesome-webfont.woff?v=4.7.0") format("woff"),
        url("http://www.foundationstone.org/rw_common/themes/landerpro/css/webfonts/fontawesome/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),
        url("http://www.foundationstone.org/rw_common/themes/landerpro/css/webfonts/fontawesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "FontAwesome";
    src: url("http://www.foundationstone.org/rw_common/themes/landerpro/css/webfonts/fontawesome/fontawesome-webfont.eot?v=4.7.0");
    src: url("http://www.foundationstone.org/rw_common/themes/landerpro/css/webfonts/fontawesome/fontawesome-webfont.eot#iefix&v=4.7.0") format("embedded-opentype"),
        url("http://www.foundationstone.org/rw_common/themes/landerpro/css/webfonts/fontawesome/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
        url("http://www.foundationstone.org/rw_common/themes/landerpro/css/webfonts/fontawesome/fontawesome-webfont.woff?v=4.7.0") format("woff"),
        url("http://www.foundationstone.org/rw_common/themes/landerpro/css/webfonts/fontawesome/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),
        url("http://www.foundationstone.org/rw_common/themes/landerpro/css/webfonts/fontawesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ralewaylight";
    src: url("http://www.foundationstone.org/rw_common/themes/landerpro/css/webfonts/raleway/raleway-light-webfont.eot");
    src: url("http://www.foundationstone.org/rw_common/themes/landerpro/css/webfonts/raleway/raleway-light-webfont.eot#iefix") format("embedded-opentype"),
        url("http://www.foundationstone.org/rw_common/themes/landerpro/css/webfonts/raleway/raleway-light-webfont.woff2") format("woff2"),
        url("http://www.foundationstone.org/rw_common/themes/landerpro/css/webfonts/raleway/raleway-light-webfont.woff") format("woff"),
        url("http://www.foundationstone.org/rw_common/themes/landerpro/css/webfonts/raleway/raleway-light-webfont.ttf") format("truetype"),
        url("http://www.foundationstone.org/rw_common/themes/landerpro/css/webfonts/raleway/raleway-light-webfont.svg#ralewaylight") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Mate SC";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/matesc/v9/-nF8OGQ1-uoVr2wK-iLT9g.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: "Mate SC";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/matesc/v9/-nF8OGQ1-uoVr2wK-iLT9g.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: "Mate SC";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/matesc/v9/-nF8OGQ1-uoVr2wK-iLT9g.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: "Mate SC";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/matesc/v9/-nF8OGQ1-uoVr2wK-iLT9g.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: "Mate SC";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/matesc/v9/-nF8OGQ1-uoVr2wK-iLT9g.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: "Mate SC";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/matesc/v9/-nF8OGQ1-uoVr2wK-iLT9g.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: "Mate SC";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/matesc/v9/-nF8OGQ1-uoVr2wK-iLT9g.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: "Amatic SC";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/amaticsc/v15/TUZyzwprpvBS1izr_vOEDuSfQZQ.woff2) format("woff2");
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
    font-family: "Amatic SC";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/amaticsc/v15/TUZyzwprpvBS1izr_vOECOSfQZQ.woff2) format("woff2");
    unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
@font-face {
    font-family: "Amatic SC";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/amaticsc/v15/TUZyzwprpvBS1izr_vOEBeSfQZQ.woff2) format("woff2");
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
    font-family: "Amatic SC";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/amaticsc/v15/TUZyzwprpvBS1izr_vOEBOSfQZQ.woff2) format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: "Amatic SC";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/amaticsc/v15/TUZyzwprpvBS1izr_vOECuSf.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: "Varela Round";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/varelaround/v13/w8gdH283Tvk__Lua32TysjIfpcuPP9g.woff2) format("woff2");
    unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
@font-face {
    font-family: "Varela Round";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/varelaround/v13/w8gdH283Tvk__Lua32TysjIfqMuPP9g.woff2) format("woff2");
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
    font-family: "Varela Round";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/varelaround/v13/w8gdH283Tvk__Lua32TysjIfqcuPP9g.woff2) format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: "Varela Round";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/varelaround/v13/w8gdH283Tvk__Lua32TysjIfp8uP.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
